@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-rows-15 {
    grid-template-rows: repeat(15, minmax(0, 1fr));
}

.grid-cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
}

.game-rows {
    grid-template-rows: 50px 70vh 50px;
}

.game-cols {
    grid-template-columns: 15vw 70vh 15vw;
}

.board-background {
    background-image: url("/assets/board.png");
}

.tile-black {
    background-image: url();
}

.tile-white {
    background-image: url();
}