@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-rows-15 {
    grid-template-rows: repeat(15, minmax(0, 1fr));
}

.grid-cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
}

.game-rows {
    grid-template-rows: 50px 70vh 50px;
}

.game-cols {
    grid-template-columns: 20vw 70vh 20vw;
}

.board-background {
    background-image: url('/assets/board.png');
}

.tile-black {
    background-image: url('/assets/black.png');
}

.tile-white {
    background-image: url('/assets/white.png');
}

.out-of-frame {
    bottom: -50px;
}